.blogitem {
  margin-top: 20pt;
  padding-top: 20pt;
  padding-bottom: 20pt;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  border-radius: 4px;
}

.blogitem .jumbotron {
  padding: 2rem 2rem;
}

.blogitem .jumbotron h1 a {
  text-decoration: none;
  color: black;
}

.blogitem img, .blogitem video {
  max-width: 100%;
}

.blog-pager {
   justify-content: center;
}

.blogtitle {
  font-weight: bold;
  -webkit-text-stroke: 2px black;
  -webkit-text-fill-color: white;
  //  -webkit-text-stroke-width: 1px;
  //  -webkit-text-stroke-color: white;
  padding-top: 10pt;
}

.blog-pager-row, .blog-pager-row ul {
  margin-top: 0;
  margin-bottom: 0;
}
