
$body-bg: #DDDDDD;
$body-color: #111;

@import "node_modules/bootstrap/scss/bootstrap";

@import "scss/fonts.scss";
@import "scss/blog.scss";

ul {
  margin-left: 10pt;
  padding-left: 0;
}

.navbar-brand {
  font-family: cabin_sketch_bold;
  font-size: 32pt;
}

.pagecontent {
    margin-top: 20pt;
}

.pagecontent .col-md-8 {
  padding-top: 20pt;
  padding-bottom: 30pt;
}
