// @font-face {
//   font-family: 'cabin_sketch_regular';
//   font-style: normal;
//   font-weight: 400;
//   src: local('cabin_sketch_regular'), local('CabinSketch-Regular'), url(/fonts/cabin_sketch_regular.ttf) format('truetype');
// }
//
// @font-face {
//   font-family: 'cabin_sketch_bold';
//   font-style: normal;
//   font-weight: 700;
//   src: local('cabin_sketch_bold'), local('CabinSketch-Bold'), url(/fonts/cabin_sketch_bold.ttf) format('truetype');
// }
//
// @font-face {
//   font-family: 'londrina_sketch_regular';
//   font-style: normal;
//   font-weight: 400;
//   src: local('londrina_sketch_regular'), local('LondraSketch-Regular'), url(/fonts/londrina_sketch_regular.ttf) format('truetype');
// }
//
// @font-face {
//   font-family: 'crucifixion';
//   font-style: normal;
//   font-weight: 400;
//   src: local('crucifixion'), local('crucifixion'), url(/fonts/Crucifixion-Regular.ttf) format('truetype');
// }
//
// @font-face {
//   font-family: 'blackdalia';
//   font-style: normal;
//   font-weight: 400;
//   src: local('blackdalia'), local('blackdalia'), url(/fonts/BlackDahlia-kerned.ttf) format('truetype');
// }

@font-face {
  font-family: 'blackmetalwarrior';
  font-style: normal;
  font-weight: 400;
  src: local('blackmetalwarrior'), local('blackmetalwarrior'), url(/fonts/DoubletwoStudiosXXIIBlackmetalWarrior.ttf) format('truetype');
}
