<footer class='footer'>
  <div class='container bg-light'>
    <span class='text-muted'>all content, text, images, sounds, software, code, ideas ©
      2017 jason plumb / noisybox / infiltration lab. <a href="mailto:jason@noisybox.net">email</a>
    </span>
  </div>
</footer>
