<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">noisybox.net</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/blog">blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/computers">computers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/art">art</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/electronics">electronics</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/misc">misc</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/resume">resume</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="mailto:jason@noisybox.net">email</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
