<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand ps-3" href="/">noisybox.net</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/blog">blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/computers">computers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/art">art</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/electronics">electronics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/misc">misc</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/resume">resume</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">about</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="mailto:jason@noisybox.net">email</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto pe-3">
        <li class='nav-item pull-right'>
          <a href='/about' title='about me'><img src='/images/profile_pic_200.png' alt="profile"/></a>
        </li>
        <li class='nav-item pull-right'>
          <a href='https://github.com/breedx2' title='my profile on github'><img src='/images/Octocat.png' alt="profile"/></a>
        </li>
        <li class='nav-item pull-right'>
          <img src='/images/mwc_cross.png' alt="profile"/>
        </li>
      </ul>
    </div>
  </nav>
</header>
